.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-social-icons-1 {
  height: 243px;
  min-height: 16px;
  width: 1002px;
  min-width: 94px;
  margin: 128px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 243px;
}

.u-section-1 .u-icon-2 {
  height: 243px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    height: 189px;
    width: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-social-icons-1 {
    height: 126px;
    width: 535px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    height: 81px;
    width: 355px;
    margin-left: -7px;
    margin-right: -7px;
  }
}